header {
    background-color: #adadff;
    color: #330e4e;
    margin: 0;
    padding: 0;
    font-size: 30;
}

body {
    background-color: #dadaff;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 25;
}

h1 {
    text-align: center;
    font-size: 40;
}

h2 {
    text-align: center;
    font-size: 25;
}

.fox {
    height: 800px;
    width: 600px;
}

h3, p {
    color: #000050;
}

ol {
    color: #000050;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000050;
}

li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 5%;
    text-decoration: none;
}

li a:hover {
    background-color: #000090;
}

li a:active {
    background-color: #4a1a6a;
}

form {
    color: #000050;
    font-size: 25;
}

input {
    font-size: 25;
    margin-bottom: 15;
    margin-right: 30;
}

.bubble {
    width: 40%;
    padding: 20px 45px;
    display: inline-block;
    vertical-align: top;
}